.partners-section-BrowseByBrands h2{
    position: relative;
    justify-content: center;
    text-align: center;
    color:  #0418aa;
}

.partners-section-BrowseByBrands {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
  }
  
  .brand-image {
    text-align: center;
  }
  
  .brand-image h2 {
    margin-bottom: 20px;
    color: #031ba4;
  }
  
  .brand-image img {
    height: auto;
    margin: 0 10px; 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 20px;
  }
  
  .brand-image img:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
  